.portfolio {
  &__title {
    padding-left: 20px;
    align-items: center;
    height: 50px;
  }

  &__card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }

  &--card6 {
    display: none;
  }

  &--card5 {
    display: none;
  }

  &--card4 {
    display: none;
  }
}
