.portfolio {

    &__title {
       padding-left: 20px;
       align-items: center;
       height: 50px;
   }

   &__card {
       display: flex;
       flex-direction: column;
       justify-content: space-evenly;
       width: 200px;
       padding-left: 20px;
       height: auto;
   }

   &--card6 {
    display: none;
   }

   &--card5 {
    display: none;
   }

   &--card4 {
    display: none;
   }
}
   

