@use "nav.scss";
@use "intro.scss";
@use "about.scss";
@use "skills.scss";

* {
    font-family: 'Cormorant Garamond', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

.portfolio {
    padding: 20px;
    text-align: center;

    &__images {
        align-items: center;
        width: 200px;
        margin: 30px;
    }
    }