@use "nav.scss";
@use "intro.scss";
@use "about.scss";
@use "skills.scss";
@use "portfolio.scss";
@use "contact.scss";
@use "skills-logos.scss";

* {
  font-family: "Cormorant Garamond", serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.footer {
  background-color: black;
  display: flex;
  justify-content: center;
  padding: 10px;
}
